* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #23272e;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;


}

.container {
    max-width: 600px;
    width: 100%;
    color: rgb(231, 232, 204);
    padding: 1rem;
}

ul {
    margin-block: 1rem;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 15px;


}

li:not(:last-child) {
    border-bottom: 1px solid #3e4451;
    margin-bottom: 15px;

}


h1,
h2 {
    color: #c1c68d;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

section {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #2c313a;
    border: 1px solid #3e4451;
    border-radius: 12px;
}

.error {
    display: block;
    color: #e36666;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.error li {
    display: list-item;
    list-style: disc;
    border-bottom: none;
    padding-bottom: 0;
}



/* Formulär */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

label {

    font-size: 1.1rem;
    font-weight: 600;

}

input,
select {
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;

}


button {
    align-self: flex-start;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    background-color: #c1c68d;
    cursor: pointer;
}

button:hover {
    background-color: #dae097;

}

/* Att göra uppgifter */
.todo-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.todo-item {
    word-break: break-word;
}

.todo-item label {
    display: flex;
    align-items: center;
    gap: 1rem;


}


input[type="checkbox"] {
    height: 20px;
    width: 20px;
    cursor: pointer;
    accent-color: rgb(76, 96, 71);
    gap: 10px;
    flex-shrink: 0;
}

.items-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
}



.prios {
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 8px;
    color: white;
}

.prio1 {
    background-color: #c95b5b;
}

.prio2 {
    background-color: #d3955c;
}

.prio3 {
    background-color: #7ba67b;
}

.delete-btn {
    opacity: 0.6;
    margin-top: 0;
    padding: 6px 10px;
    line-height: 1;
}

.delete-btn:hover {
    opacity: 1;
}


/* Slutförda uppgifter */

.completed-list {
    text-decoration: line-through;
    opacity: 0.6;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

footer p {
    padding-block: 1rem;
    text-align: center;
}